<% if destination.children.count > 0 %>
  <h4>Destinations:</h4>
  <div>
    <ul>
      <% destination.children.each do |d| %>
        <li>
          <%= link_to d.title, destination_path(d) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
