<h4>Sections:</h4>

<div>
  <ul>
    <% content.each do |k,v| %>
      <li>
        <%= navigation(k, destination) %>
      </li>
    <% end %>
  </ul>
</div>

<%= render "children", destination: destination %>
