<div class="block">
  <div class="content">
    <div class="inner">
      <ul>
        <% @destinations.each do |d| %>
          <li>
            <%= link_to d.title, destination_path(d) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
