<% content_for :sidebar do %>
  <% if @content.is_a?(Hash) %>
    <% render partial: "navigation", locals: { destination: @destination, content: @content } %>
  <% end %>
<% end %>

<% content_for :destination_title do %>
  <%= link_to @destination.title, destination_path(@destination) %>
<% end %>

<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first">
        <%= link_to @destination.title %>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="content">
    <div class="inner">
      <%= render partial: "content", locals: { destination: @destination, content: @content } %>
    </div>
  </div>
</div>
