<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Lonely Destinations</title>

    <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
    <!-- <link rel="stylesheet" href="css/normalize.css" /> -->

    <%= stylesheet_link_tag  "application" %>
    <%= csrf_meta_tags %>

    <!-- script src="js/vendor/custom.modernizr.js"></script -->

  </head>
  <body>

    <div id="container">
      <div id="header">
        <div id="logo"></div>
        <h1><%= destination_title %></h1>
      </div>

      <div id="wrapper">
        <% if content_for(:sidebar) %>
          <div id="sidebar">
            <div class="block">
              <h3>Navigation</h3>
              <div class="content">
                <div class="inner">
                  <%= yield :sidebar %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div id="main">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
